[data-bs-theme="light"] {
    #Jumbotron > div {
        background-color: #fff !important;
    }

    #Productions .card {
        background-color: #fff !important;
    }
}

[data-bs-theme="dark"] {
    #Productions .card .img-container > img {
        opacity: 0.65;
    }
}

#Jumbotron {
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Productions {
    min-height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

#Productions > .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    cursor: grab;
}

#Productions > .card-wrapper:active {
    cursor: grabbing;
}

#Productions > .card-wrapper::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
}

#Productions .col-auto {
    align-self: center;
    padding: 12px;
}

#Productions .card {
    width: 300px;
    height: 600px;
    border: none;
}

#Productions .card .img-container {
    position: relative;
}

#Productions .card .img-container > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#Productions .card .img-container .text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Set a maximum width */
    text-align: center; /* Center the text horizontally */
}

@media (min-width: 1500px) {
    #Productions {
        margin-left: -5rem;
        margin-right: -5rem;
    }
}

@media (min-width: 576px) {
    #Productions > div:first-child {
        padding-left: 0;
    }

    #Productions > div:last-child {
        padding-right: 0;
    }
}
